<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    
    <add name="AuthenticationStore" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|EmailStorage.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
        <!--<add name="AuthenticationStore" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EmailStorage;User ID=emailuser;Password=emailuser;Pooling=False"/>-->
  </connectionStrings>  
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="DomainServiceModule" preCondition="managedHandler"
                type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <system.web>
        <roleManager enabled="true" />
        <httpModules>
            <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpModules>
        <compilation debug="true" targetFramework="4.0" />
      <!-- Deny unknown users-->
   <!--   <authorization>
        <deny users="?"/>
      </authorization>-->
      <!-- Will be connecting to DB to login-->
      <authentication mode="Forms">        
      </authentication>
      <membership defaultProvider="AuthenticationProvider">
        <providers>
          <clear/>
          <add name="AuthenticationProvider" type="System.Web.Security.SqlMembershipProvider" passwordFormat="Clear" connectionStringName="AuthenticationStore"/>
        </providers>
      </membership>
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="EmailDashboard.Web.Services.Login.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="EmailDashboard.Web.Services.LoginService.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="EmailDashboard.Web.Services.Login">
                <endpoint address="" binding="customBinding" bindingConfiguration="EmailDashboard.Web.Services.Login.customBinding0"
                    contract="EmailDashboard.Web.Services.Login" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="EmailDashboard.Web.Services.LoginService">
                <endpoint address="" binding="customBinding" bindingConfiguration="EmailDashboard.Web.Services.LoginService.customBinding0"
                    contract="EmailDashboard.Web.Services.LoginService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
